h1 {
    box-sizing: border-box;
    color: #0041BA;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    margin: 0;
}

h2 {
    box-sizing: border-box;
    color: #0041BA;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    margin: 0;
}



body {
    margin: 0;

}

header {
    box-sizing: border-box;
    margin: 11px 100px 11px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    background-color: #0041BA;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    justify-content: center;
}

nav ul {
    box-sizing: border-box;
    display: flex;
    margin: 0 113px 0 113px;
    width: 100%;
    justify-content: center;
    padding: 0;
}

#nav {

    display: flex;
    align-items: center;
    height: 32px;
    list-style: none;
    padding: 0 20px 0 20px;
    margin: 0 25px 0 25px;
    box-sizing: border-box;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: small;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
}

#nav:hover {
    transition: 0.5s;
    color: #0041BA;
    background-color: white;
}

main {
    padding: 34px 100px 0 100px;
}

.light p {
    width: 950px;
    color: #0041BA;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
}

.main_inf {
    margin-top: 35px;
    display: flex;
    flex-direction: column;

}

.main_inf input {
    margin-top: 10px;
    width: 253px;
    padding-left: 13px;
    height: 29px;
    border: #0041BA solid 1px;
    border-radius: 10px;
    color: #0041BA;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
}

.main_inf input::placeholder {
    color: #0041BA;
}

.type_feedback {
    margin-top: 35px;
}

.type_feedback select {
    margin-top: 10px;
    padding-left: 13px;
    width: 389px;
    height: 29px;
    border: #0041BA solid 1px;
    border-radius: 10px;
    color: #0041BA;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;

}

.more_inf {
    margin-top: 35px;
}

.more_inf textarea {
    margin-top: 10px;
    padding-left: 13px;
    width: 937px;
    height: 173px;
    border: #0041BA solid 1px;
    border-radius: 10px;
    color: #0041BA;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    vertical-align: top;
    resize: none;
}

.file_input {
    margin-top: 35px;
}

.input-file-row {
    display: flex;
}

.input-file {
    position: relative;
    display: inline-block;
}

.input-file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 10px;
    line-height: 22px;
    width: 440px;
    height: 225px;
    padding: 50px 0 0 0;
    box-sizing: border-box;
    border: #0041BA solid 1px;
    margin-top: 10px;
    transition: background-color 0.2s;
}

.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Focus */
.input-file input[type=file]:focus+span {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* Disabled */
.input-file input[type=file]:disabled+span {
    background-color: #eee;
}

/* Список c превью */
.input-file-list {
    padding: 10px 0;
}

.input-file-list-item {
    display: inline-block;
    margin: 0 15px 15px;
    width: 150px;
    vertical-align: top;
    position: relative;
}

.input-file-list-item img {
    width: 150px;
}

.input-file-list-name {
    text-align: center;
    display: block;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.input-file-list-remove {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 5px;
    right: 5px;
    background: #ff0202;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
}

.user_accept {
    margin-top: 35px;
    width: 522px;
    display: flex;
    align-items: center;
    color: #0041BA;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}
.user_accept p{
    margin: 0;
}

.checkbox_input>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox_input>span::before {
    margin-right: 13px;
    display: block;
    width: 30px;
    height: 30px;
    content: '';
    border: #0041BA solid 1px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;

}

.checkbox_input>input:checked+span::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url(image/icons8-галочка-60.png);
}

.btn{
    margin-top: 35px;
    width: 185px;
    height: 53px;
    background-color: #0041BA;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
.btn:hover{
    transition: 0.5s;
    background-color: #0059FF;
}


footer {
    margin-top: 29px;
    background-color: #00102E;
    padding: 0 100px 0 100px;
    display: flex;
    justify-content: space-between;

}

.foot_inf h1 {
    padding: 18px 0 0 0;
    width: 263px;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.foot_inf h2 {
    padding: 18px 0 26px 0;
    width: 276px;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
}

.link {
    padding: 94px 0 26px 0;

}

.link a {
    padding-left: 15px;
}